.header {
  margin-bottom: 4rem;
}

.container {
  display: flex;
  align-items: center; /* vertically center image + text */
  gap: 2rem; /* space between profile pic and text */
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #f9f4e9; /* light beige border to contrast with dark background */
}

.text {
  text-align: left;
}

.text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.text p {
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 600px;
}
